@font-face {
  font-family: "Atlas Grotesk";
  src: url("../fonts/atlasgroteskThin.otf") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Atlas Grotesk";
  src: url("../fonts/atlasgroteskMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kula";
  src: url("../fonts/TAYKula.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../images/brown_paper.jpg");
  color: white;
  font-family: 'Atlas Grotesk', sans-serif;
  font-weight: 200;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Kula', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 48pt;
  margin: 3rem 1rem;
}

h2 {
  font-size: 36pt;
  margin: 3rem 1rem;
}

h3 {
  font-size: 24pt;
  margin-top: 4rem;
}

p {
  font-weight: normal;
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  max-width: 65ch;
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category__image {
  margin: 4rem 0 2rem;
  width: 4rem;
}