@font-face {
  font-family: "Atlas Grotesk";
  src: url("../fonts/atlasgroteskThin.otf") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Atlas Grotesk";
  src: url("../fonts/atlasgroteskMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kula";
  src: url("../fonts/TAYKula.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../images/brown_paper.jpg");
  color: white;
  font-family: 'Atlas Grotesk', sans-serif;
  font-weight: 200;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Kula', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 48pt;
  margin: 3rem 1rem;
  position: relative;
}

h1::before {
  background-image: url("../images/wine-bottle1.png");
  background-size: contain; /* or cover */
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 8.5rem;
  left: 48%;
  top: -60%;
  transform: rotate(12deg);
  position: absolute;
  width: 3.5rem;
  z-index: -1;
}

@media (max-width: 1000px) {
  h1::before {
    left: 45%;
  }
}

@media (min-width: 2280px) {
  h1::before {
    left: 48.5%;
  }
}

h2 {
  font-size: 36pt;
  margin: 3rem 1rem;
}

h3 {
  font-size: 24pt;
  margin-top: 4rem;
}

p {
  font-weight: normal;
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  max-width: 65ch;
}

strong {
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: white;
}

.section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category__image {
  margin: 4rem 0 2rem;
  width: 4rem;
}