// Variables
$text-color: white;
$good-text: #C1F5BC;
$bad-text: #FFCDCD;

$space-base: 1.5rem;
$space-triple: $space-base * 3;

@font-face {
  font-family: "Atlas Grotesk";
  src: asset-url("atlasgroteskRegular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Atlas Grotesk";
  src: asset-url("atlasgroteskMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: image-url("brown_paper.jpg");
  color: white;
  font-family: 'Atlas Grotesk', sans-serif;
  font-weight: 200;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h1 {
  margin: $space-triple $space-base;
}

h3 {
  margin-top: $space-triple;
}

p {
  margin-right: auto;
  margin-left: auto;
  max-width: 65ch;
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sketch {
  margin-bottom: 2rem;
}
