@font-face {
  font-family: "Atlas Grotesk";
  src: asset-url("atlasgroteskRegular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Atlas Grotesk";
  src: asset-url("atlasgroteskMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: url("../images/brown_paper.jpg");
  color: white;
  font-family: 'Atlas Grotesk', sans-serif;
  font-weight: 200;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h1 {
  margin: 3rem 1rem;
}

h3 {
  margin-top: 3rem;
}

p {
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  max-width: 65ch;
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category__image {
  margin-bottom: 2rem;
  width: 4rem;
}